 <span class="altkolon">

            <div class="footermenu">

                <a id="takip" > Bizi Takip Edin:</a>

                <a href="https://www.youtube.com/">
                    <img id="logo1" src="../image/youtube.png" alt="" height="40px" width="40px" href="https://www.youtube.com/">
                </a>
                <a href="https://www.instagram.com/gdgwtmkutahya/">
                    <img id="logo2" src="../image/instagram2.png" alt="" height="30px" width="30px">
                </a>


            </div>

        </span>

    </body>
</html>
