<!DOCTYPE html>

<html lang="tr">
    <head>
        <title>
            Kore Lezzetleri
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/{{style}}">
        {{!-- <link rel="stylesheet" href="/css/signin_css.css">
        <link rel="stylesheet" href="/css/tarif_css.css"> --}}

    </head>
    <body>
       