{{!-- <!DOCTYPE html>

<html lang="tr">
    <head>
        <title>
            Kore Lezzetleri
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/index_css.css">

    </head>
    <body>

        --}}

    {{>site-header}}
    
       {{!--  <div class="nav_head">
            <div class="nav_menu">
                    <a href="#">
                        <img id="logo" src="../image/noodles.png" alt="" height="30px" width="30px" >
                    </a>
                    
                    <div class="nav_title" href="#" >
                        <a id="mainpage" href="#" style="text-decoration: none; left: 200px;">
                            KORE LEZZETLERİ
                        </a> 
                    </div>

                    <a id="signin" href="signin.html" style="text-decoration: none; color: black; right: 85px;" >Admin Girişi</a>

                    <div class="dropdown" style="float: right;">
                        <div class="dropbtn" >Türler :</div>
                            <div class="dropdown-content">
                                <a href="#">Çorbalar</a>
                                <a href="#">Salatalar</a>
                                <a href="#">Noodlelar</a>
                                <a href="#">Pilavlar</a>
                                <a href="#">Deniz Ürünleri</a>
                                <a href="#">Sebze Yemekleri</a>
                                <a href="#">Tavuk Yemekleri</a>
                                <a href="#">Et Yemekleri</a>
                                <a href="#">Tatlılar</a>
                            </div>
                     </div>

            </div>

        </div> --}}

    {{>site-nav}}
        
       <img id="krfood1" src="../image/krfood1-2.jpg" alt="seoul" height="600px" width="100px" > 
       <img id="krfood2" src="../image/krfood2.jpg" alt="seoul" height="600px" width="100px"> 


    {{{ body }}}

       
        <div class="rectangle1"></div>
        <div class="rectangle2"></div>
        <div class="rectangle3"></div>
        <div class="rectangle4"></div>
        <div class="rectangle5"></div>
        <div class="rectangle6"></div>
        <div class="rectangle7"></div>
        <div class="rectangle8"></div>
        <div class="rectangle9"></div>
        <div class="rectangle10"></div>
        <div class="rectangle11"></div>
        <div class="rectangle12"></div>
        <div class="rectangle13"></div>
        <div class="rectangle14"></div>
        <div class="rectangle15"></div>
        <div class="rectangle16"></div>
        <div class="rectangle17"></div>
        <div class="rectangle18"></div>

    {{>site-footer}}

   {{!--  <span class="altkolon">

            <div class="footermenu">

                <a id="takip" > Bizi Takip Edin:</a>

                <a href="https://www.youtube.com/">
                    <img id="logo1" src="../image/youtube.png" alt="" height="40px" width="40px" href="https://www.youtube.com/">
                </a>
                <a href="https://www.instagram.com/gdgwtmkutahya/">
                    <img id="logo2" src="../image/instagram2.png" alt="" height="30px" width="30px">
                </a>


            </div>

        </span> 

    </body>
</html>--}}
