     <section>
           <div class="box-tarifler">
               <div class="conteiner">
                   <div class="sira">
                       <div class="colon" href="/tarif">
                            <div class="tarif-text1">
                                <div class="title">
                                    <img id="tarif-img"  src="../image/tteokbokki.png" alt="" width="260px" height="200px" href="/tarif">
                                    <h2>
                                        
                                        <a  href="/tarif" style="text-decoration: none;  color: black;">Tteokbokki</a>

                                    </h2>
                                </div>

                                <div class="malzemeler">
                                    <ul> 
                                        <li><i class="tik" > 10 adet Tteok (Pirinç Keki) </i> </li>
                                        <li><i class="tik" > 1 adet haşlanmış yumurta </i></li>   
                                        <li><i class="tik" > 1 adet yeşil soğan </i></li>  
                                        <li><i class="tik" > 2 su bardağı su </i></li>    
                                            <h5>Sosu için;</h5>
                                        <li><i class="tik" > 2 yemek kaşığı biber salçası </i></li>    
                                            <a href="/tarif" style="text-decoration: none;  color: rgb(46, 27, 216);"><h4>...daha fazlası -></h4> </a>
                                       
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        <!--Birinci kolon sonu-->
                        <div class="colon">
                            <div class="tarif-text1">
                                <div class="title">
                                    <img id="tarif-img" src="../image/tteokbokki.png" alt="" width="260px" height="200px">
                                    <h2>
                                        <a href="/tarif" style="text-decoration: none;  color: black;">Tteokbokki</a>
                                    </h2>
                                </div>
                                <div class="malzemeler">
                                    <ul>
                                        <li><i class="tik" > 10 adet Tteok (Pirinç Keki) </i> </li>
                                        <li><i class="tik" > 1 adet haşlanmış yumurta </i></li>   
                                        <li><i class="tik" > 1 adet yeşil soğan </i></li>  
                                        <li><i class="tik" > 2 su bardağı su </i></li>    
                                            <h5>Sosu için;</h5>
                                        <li><i class="tik" > 2 yemek kaşığı biber salçası </i></li>    
                                            <a href="/tarif" style="text-decoration: none;  color:rgb(46, 27, 216);"><h4>...daha fazlası -></h4> </a>
                                    </ul>
                                </div>
                            </div>        
                        </div>
                        <!--İkinci kolon sonu-->
                        <div class="colon">
                            <div class="tarif-text1">
                                <div class="title">
                                    <img id="tarif-img" src="../image/tteokbokki.png" alt="" width="260px" height="200px">
                                    <h2>
                                        
                                        <a href="/tarif" style="text-decoration: none;  color: black;">Tteokbokki</a>

                                    </h2>
                                </div>
                                <div class="malzemeler">
                                    <ul>
                                        <li><i class="tik" > 10 adet Tteok (Pirinç Keki) </i> </li>
                                        <li><i class="tik" > 1 adet haşlanmış yumurta </i></li>   
                                        <li><i class="tik" > 1 adet yeşil soğan </i></li>  
                                        <li><i class="tik" > 2 su bardağı su </i></li>    
                                            <h5>Sosu için;</h5>
                                        <li><i class="tik" > 2 yemek kaşığı biber salçası </i></li>    
                                            <a href="/tarif"style="text-decoration: none;  color: rgb(46, 27, 216);"><h4>...daha fazlası -></h4> </a>
                                    </ul>
                                </div>
                            </div> 
                        </div>
                        <!--Üçüncü kolon sonu-->

                    </div>
                </div>
            </div>
    </section> 
