        <div class="container">
            <div class="colon">
                <div class="tarif-img">
                    <img src="../image/tteokbokki.png" alt="" style="width: 500px; height: 400px;">
                </div>
                <h1 id="tarif-name">TTEOKBOKKİ</h1>
                <div class="tarif-list">
                    <ul> 
                        <li><i class="tik" > 10 adet Tteok (Pirinç Keki) </i> </li>
                        <li><i class="tik" > 1 adet haşlanmış yumurta </i></li>   
                        <li><i class="tik" > 1 adet yeşil soğan </i></li>  
                        <li><i class="tik" > 2 su bardağı su </i></li>    
                            <h5>Sosu için;</h5>
                        <li><i class="tik" > 2 yemek kaşığı biber salçası </i></li>    
                        <li>1 yemek kaşığı toz kırmızı biber</li>
                        <li> 1 yemek kaşığı bal</li>
                        <li>1 yemek kaşığı soya sosu</li>
                        <li>4 diş ezilmiş sarımsak</li>
                    </ul>

                </div>
                <div class="text-tarif">
                    <ul> 
                        <li> Dondurulmuş pirinç keklerini, soğuk suda 30 dakika bekleterek çözünmesini sağlayın. </li>
                        <li> 30 dakikanın sonunda pirinç keklerini tek tek birbirinden ayırın. Pirinç keklerini süzgeçle sudan geçirin ve kenarda bekletin.</li>   
                        <li>Bir kasenin içerisine esmer şeker, bal, soya sosu, goghujang ve ince kıyılmış sarımsağı ekleyip karıştırın.</li>  
                        <li> Wok tavaya 2.5 bardak balık suyu veya suyu dökün. Yüksek ateşte kaynaması için bekletin.</li>    
                        <li>Su kaynamaya başladığında, hazırladığınız sos karışımı ekleyin ve karıştırın.</li>    
                        <li>Ocağı orta ateşe alarak 5 dakika bu şekilde kaynatın.</li>
                        <li>Ardından sıralı olarak pirinç keki, havuç, soğan ve dilimlenmiş lahanaları wok tavaya alın.</li>
                        <li>Ara sıra karıştırarak yaklaşık 5-6 dakika daha kaynatın.</li>
                        <li>Daha sonra yeşil soğanı da ekleyip 1-2 dakika karıştırın.</li>
                        <li>Sos yoğunlaşmaya başladığında ocağın altını kapatıp yemeği servis tabağına alın.</li>
                        <li>Üzerine susam, yeşil soğan, kırmızı biber ve isteğe göre katı yumurta ekleyip servis edin. Afiyet olsun.</li>
                    </ul>
                </div>

             </div>
        </div>